.case_content_contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.contact_content_detail{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    font-size: 24px;
  
}


.contact_title{
 
    font-size:32px;
  
}