.Home {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.Homeworkcard-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.Home-container-row {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.Homeworkcard-img-container {
  display: flex;
}


.image-homeworkcard {
  display: flex;
  width: 100%;

}

.Home-container-row {
  display: flex;
  flex-direction: column;
  background-color: white;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  
}

 

@media (min-width: 800px) {

  .Homeworkcard {
   max-width: 400px;
   height: 100%;
   max-height: 500px;
   min-width: 290px;
   margin-left: 40px;

  }

  .Homeworkcard-container {
    flex-wrap: wrap;
    max-width: 1000px;
    flex-direction: row;
    justify-content:center;
    row-gap: 40px;
    column-gap: 50px;
    
   
  }

  .Homeworkcard-container-main{
    flex-direction: column;
    display: flex;

  }
  
  
.Homeworkcard-content{

}

  .Homeworkcard-img-container {
 
  }
  
  
  .image-homeworkcard {
    
  }
  
}

/* .Home-button {
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border-radius: 4px;
    min-height: 40px;
    max-width: 250px;
    font-size: 14px;
    
  }
  .Homeworkcard-container {
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    justify-content: center;
    row-gap: unset;

  }
  .Homeworkcard-container-button{
    display: flex;
    flex-direction: column;
    align-items: center;

  }


  .Homeworkcard {
    display: flex;
    min-width: 200px;
    max-width: 500px;
    width: 100%;
  }

  .Homeworkcard-content {
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: start;
    min-width: 100px;


  }

  .Home-container-row {
   
    margin: 24px 24px 24px 24px;
  }
*/