.largeworkcard {
  display: flex;
  flex-direction: column;
  text-align: start;
  border-radius: 8px;

}

.card-container-row {
  display: flex;
  flex-direction: column;
  background-color: white;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;

}

.largeworkcard-img {
  display: flex;
}


.image-workcard {
  height: auto;
  width: 100%;
}

.largeworkcard-content {
  display: flex;
  flex-direction: column;
}

.largeworkcard-titel {
  font-size: 18px;
}

.largeworkcard-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  text-align: center;
  align-items: center;

}

@media (min-width: 500px) {
  .largeworkcard {
    flex-direction: row;
  }

  .image-workcard {
    min-width: 250px;
  
  }

  .largeworkcard-content {
    padding-right: 0.5rem;
    padding-left: 1rem;
    justify-content: center;
  }

  .image-homeworkcard{
    min-width: 250px;
    width: 100%;

  }
}

@media (min-width: 824px) {

  .card-container-row {
    flex-direction: row;
    column-gap: 30px;
    max-width: 1200px;

  }

  .largeworkcard-container {}

  .image-workcard {
    min-width: 250px;
  }

  .image-homeworkcard{
    min-width: 250px;
    width: 100%;

  }
}