
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust the height as needed */
  padding: 1rem; /* Add padding for mobile */

}

.main-content {
  width: 100%;
  max-width: 1200px; 
  display: flex;
  flex-direction: column;
 
  
}