
body {
  font-size: 1rem;
  }
  


  a:visited {
    color: rgb(0, 0, 0);
  }

  a:link {
    color: rgb(0, 0, 0); /* Färg på länkar som inte har klickats på */
  }

  p {
    line-height: 1.5;
  }

  .max300{
    max-width: 300px;
  
  }

  .section-title-work{
    font-size: 2rem;
  }
/*
  :focus {
    outline: 3px solid #4CAF50; /* Grön ram, justera färg efter behov */
    /*outline-offset: 3px;
    border-radius: 4px
  }
*/
  .skip-to-content {
    position: absolute;
    top: -50px;
    left: 10px;
    background-color: #bc4646;
    padding: 10px;
    text-decoration: none;
    color: #000;
    z-index: 100;
   min-width: 44px;
   display: flex;
   justify-content: center;
   width: 100vw;
  }
  
  .skip-to-content:focus {
    top: 10px; /* Visar länken när den får fokus */
  }

  .container-skip-to-content {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: palegreen;
  }
  
  