
body {

  font-family:"poppins", "sans serif";
  }
 


  a:visited {
    color:#f4a940;
  }

  a:link {
    color: #f4a940; /* Färg på länkar som inte har klickats på */
  }

.p{
 

}

  .max300{
    max-width: 300px;
  
  }

  .section-title-work{
    font-size: 2rem;
  }
/*
  :focus {
    outline: 3px solid #4CAF50; /* Grön ram, justera färg efter behov */
    /*outline-offset: 3px;
    border-radius: 4px
  }

   margin: 0;
  height: 100vh;
  background: linear-gradient(to right, 
    #2b3227 0%, 
    #2b3227 25%, 
    #f4f3ed 25%, 
    #f4f3ed 75%, 
    #2b3227 75%, 
    #2b3227 100%);
*/
  

  @media (min-width: 768px)  {
    body {
      
      background:linear-gradient(to right, #2b3227 50%, #f4f3ed 50%);
    
      }
      
      
    }