/* style.css */
.case-section {
  margin-top: 32px;
      padding: 1rem;
}

.case-container {
  background-color: #324534;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case-content {
  background-color: #fff;
  max-width: 800px;
  width: 100%;
 
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 4px 4px 0px 0px;
}



.case-header-img {
  width: 100%;
  height: auto;
  border-radius:4px 4px 0px 0px;
  max-width: 800px;
}

.case-header {
  text-align: center;
}

.case-title {
  font-size: 24px;
  font-weight: bold;
}

.case-subtitle {
  font-size: 16px;
  color: gray;
}

.case-responsive-img {
  width: 100%;
  height: auto;
  border-radius:4px 4px 0px 0px;
  max-height:800px;
  
}

.case-section-title {
  font-size: 20px;
  margin-bottom: 12px;
  border-bottom: 2px solid black;
  display: inline-block;
}





.hero {
  margin: 0;
  padding: 0;
}

.hero-overlay-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  max-height: 800px;
  display:flex;
}

.hero-overlay-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0px 0px;
  max-width: 800px;
   max-height: 600px;
}

.cv-button{
  padding:0.5rem;
  color:white;
  background-color:black;
  border-radius:8px;


}

.a-cv-button{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size:1rem;
}

.cv-button:hover{
  font-size: 14px;
  padding:1.3rem;
  color:white;
  background-color:#324534;
  border-radius:8px;
  text-decoration:underline;
 

}
.hero-p{
  font-size: 1.5rem;
  margin: 0;

}
.hero-headline{
  font-size: 2rem;
  margin: 0;

  
}
.hero-text {
  position: absolute;
  top: 0%;
  right: 0%;
  left:0%;
  bottom:0%;
  color: white;
  background: rgba(0, 0, 0, 0.4); /* valfri mörk overlay-bakgrund */
  padding: 4rem 1rem 1rem 2rem;

  border-radius: 4px 4px 0px 0px;
}


.hero-text-case {
  position: absolute;
  top: 0%;
  right: 0%;
  left:0%;
  bottom:0%;
  color: white;
  background: rgba(0, 0, 0, 0.4); /* valfri mörk overlay-bakgrund */
  padding:9rem 0rem 0rem 5rem;
  border-radius: 4px 4px 0px 0px;
  font-size: 5rem;
  
}


.hero-text h1 {
  margin: 0;
  font-size:1rem;
  font-weight: bold;
}

.hero-text p {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}











@media (min-width: 768px) {

  /* style.css */
.case-section {
 
      padding: 2rem;
}

  
.a-cv-button{

  font-size:1.2rem;
}


  .hero-text h1 {

    font-size:2rem;
  
  }
  .hero-text {
  
    padding: 9rem 1rem 2rem 5rem;

  }
  
.cv-button{
  padding:1rem;
  

}

  .case-container {
    
  }

  .case-title {
    font-size: 32px;
  }

  .case-section-title {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .case-container {
   
  }
}




@media (min-width: 768px) {
  .hero-text h1 {
    font-size: 36px;
  }

  .hero-text p {
    font-size: 18px;
  }
}