.image-grid {
  display: grid;
  grid-template-columns: 1fr; /* EN bild per rad – mobil först */
  gap: 16px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  align-items: stretch; 
}


.image-grid-wrapper {
  display: flex;
  flex-direction: column;.image-grid-heading {
  margin: 32px 0; /* Marginal ovanför och under rubriken */
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #333;
}
  align-items: center;
}
/* bild grid */


.left-section-imge {
  padding: 2rem; /* Utrymme runt hela sektionen */
  display: flex;
  background:#f4f3ed;
  justify-content: center; /* Centrerar grid i mitten */

}

.image-box img {
  width: 100%;
  height: auto;
  max-height: 300px; /* Maxhöjd om du vill begränsa det visuellt */
  display: block;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease;
}






.image-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  background-color:  #2b3227;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
 


.image-title {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 600;
  color: white;
}



.image-box:hover img {
  transform: scale(1.02);
}

/* Desktop-anpassning */
@media (min-width: 768px) {
 
  .left-section-imge {
    padding: 4rem; /* Utrymme runt hela sektionen */
   
  }
 
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Två bilder per rad */
  gap: 16px; /* Avstånd mellan bilderna */
  max-width: 600px; /* Begränsar bredden för att centrera */
  width: 100%;
  align-items: stretch; 
}
}
