.LanguageSelectors-button {
    height: 48px;
    margin-bottom: 8px;
    font-size: 16px;
    padding: 8px;
    max-width: 250px;
}

.textMaria {
    display: none;

}

.textMaria-content {
   
    
}

.maria {
   display: none;

}
.CaseLargeworkcard-description{

}



@media (min-width: 600px) {
    
   

}



@media (min-width:924px) {
    .Language-main {
        text-align: center;
        list-style-type: none;
        display: flex;
        width: 100%;
        justify-content: flex-end;
    
    }
    
    .Language-content {
        display: flex;
        margin-right: 40px;
    
    }
    
  

}

@media (min-width:1200px) {
   

 
}

