.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust the height as needed */
  /* Add padding for mobile */

}

.main-content {
  width: 100%;
  max-width: 1200px; 
  display: flex;
  flex-direction: column;
 
  
}
.case_content_main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  column-gap: 28px;
}

.case_content_main2{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  column-gap: 28px;

  
  }

.case_content{
display: flex;
flex-direction: column;
width: 100%;
justify-content: flex-start;

}
.case_content{
  display: none;
}
.case_content{
display: flex;
flex-direction: column;
width: 100%;
justify-content: flex-start;

}
.img_container
{
 
  display: flex;
  flex-direction: column;
  
  }

 

@media (min-width: 768px) {


  .case_content_main2{
 
    flex-direction: row-reverse;
    
    }

 
  .main-container {
    
    align-items: center;

  }

  .case_content_main{
    flex-direction: row;
 
  }

  .case_content{
    display: flex;
    flex-direction: column;
  
    }
  
}

@media (min-width: 1024px) {
  .main-container {
    
    align-items: center;

  }

  .case_content{
display: flex;
flex-direction: column;
max-width: 500px;

}
}
