
.card-container-mobile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  background-color: #202c25;
}

.subtitle-wrapper-mobile  {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0px;

  
}

.subtitle-mobile {
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-top: 4px;
}

.divider-mobile {
  height: 2px;
  width: 100%;
  background-color: #f4a940;
  margin-top: 4px;
}







.title-mobile {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding:0px;
  margin:4px;
}







.card-content-mobile {
  display: flex;
  flex-direction: column;
  color: #f4a940;
  width: 90%;
  max-width: 320px;
}


.profile-img-mobile {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover;
}



.text-content-mobile .name-mobile {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;  
  margin:4px;
}





.subtitle-mobile {
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-top: 4px;
}


.card-container {
  display: none;
}


.name-overlay,
.left-section,
.text,
.text h2,
.text p,
.right-section,
.profile-img,
.vertical-name {
  display: none;
}




@media (min-width: 368px) {
  .name-overlay{
    display: none;
  }

  .profile-img {
    min-width: 250px;
    width:100%;
    max-width: 400px;

   


  }
}


@media (min-width: 568px) {


  

.card-container {
  position: relative; /* Viktigt för absolut positionering inuti */
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f3ed;
}
  .name-overlay,
  .left-section,
  .text,
  .text h2,
  .text p,
  .right-section,
  .profile-img,
  .vertical-name {
    display: block;
  }

 







.name-overlay {


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  writing-mode: vertical-rl;
  font-size: clamp(2rem, 6vw, 6rem); /* Min 2rem, responsiv 6vw, max 6rem */
  max-height: 90vh;
  letter-spacing: 3px;
  font-weight: bold;
  color: #a1641c;
  z-index: 10;
  pointer-events: none;
  line-height: 1.1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}


.left-section {
  flex: 1;
  display: flex;
  align-items: end;
 

  background-color: #f4f3ed;
}

.text {
  font-size: 1rem;
  text-align: left;
  font-weight: bold;
  color: #a1641c;
  border-top: 2px solid #a1641c;
  padding-top: 1rem;

  justify-Content: end;
  display: flex;
  flex-Direction:column;
  background-Color: pink;
  text-Align: end;
  width: fit-content;
  padding: 30px;
  align-items:end;
 font-size:32px;
}

.text h2 {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 1px;

}

.text p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.right-section {
  flex: 1;
  position: relative;
  background-color: #2b3227;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh; 
}

.profile-img {

  height: auto;
  border-radius: 2px;
  margin-bottom: 1rem;
  object-fit: contain;
}

.vertical-name {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #a1641c;
  font-size: 10rem;
  letter-spacing: 3px;
  font-weight: bold;
}
.card-container-mobile,
  .card-content-mobile,
  .profile-img-mobile,
  .text-content-mobile .name-mobile,
  .divider-mobile,
  .title-mobile,
  .subtitle-mobile {
    display: none;
  }
}