.card-container-mobile { 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family:"Lekton";
  background-color: #202c25;
}

.subtitle-wrapper-mobile  {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0px;

  
}
.image-color{
  background-color: #202c25;
  padding: 1.5rem;
  border-radius:4px
}

.subtitle-mobile {
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-top: 2px;
}


.title-mobile {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding:0px;
  margin: 4px 4px 0px 0px;
}


.card-content-mobile {
  display: flex;
  flex-direction: column;
  color: #b57c30;
  width: 90%;
  max-width: 320px;
}


.profile-img-mobile {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover;
}



.name-mobile {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 4px 0;
  border-style: solid;
  border-color: #b57c30 transparent; /* färg upptill, genomskinligt på sidorna */
  border-top:6px;
  display: unset;

}



.card-container {
  display: none;
}


.name-overlay,
.left-section,
.text,
.text h2,
.text p,
.right-section,
.profile-img,
.vertical-name {
  display: none;
}




@media (min-width: 568px) {

  .profile-img {
  
    width:100%;
    max-width: 325px;

  }


  

.card-container {
  position: relative; /* Viktigt för absolut positionering inuti */
  display: flex;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f3ed;
}
  .name-overlay,
  .left-section,
  .text,
  .text h2,
  .text p,
  .right-section,
  .profile-img,
  .vertical-name {
    display: block;
  }

 







.name-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  writing-mode: vertical-rl;
  font-size: clamp(2rem, 6vw, 6rem); /* Min 2rem, responsiv 6vw, max 6rem */
  max-height: 90vh;
  letter-spacing: 3px;
  font-family:Lekton;
  font-weight: reguler;
  color: #a1641c;
  z-index: 10;
  pointer-events: none;
  line-height: 1.1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}


.left-section {
  flex: 1;
  display: flex;
  align-items: end;
  max-width: 900px;
  background-color: #f4f3ed;
}

.text {
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: bold;
  color: #a1641c;
  /*padding: clamp(1rem, 2vw, 2rem);*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: fit-content;
  margin-left: 1rem;

}

.text h2 {
  margin: 0px;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  letter-spacing: 1px;
  font-family:Lekton;
  font-weight:900;
  padding:0px 0px 4px 0px;
     border-bottom: 3px solid #a1641c;
}


.text p {
  font-size: clamp(0.8rem, 2vw, 1.3rem);
  margin-top: 0.1rem;  
  font-family:Lekton;

}

.right-section {
  flex: 1;
  position: relative;
  background-color: #2b3227;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 max-height: 900px;
}

.profile-img {

  height: auto;
  border-radius: 2px;
  margin-bottom: 1rem;
  object-fit: contain;
}

.vertical-name {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #a1641c;
  font-size: 10rem;
  letter-spacing: 3px;
  font-weight: bold;
}
.card-container-mobile,
  .card-content-mobile,
  .profile-img-mobile,
  .text-content-mobile .name-mobile,
  .divider-mobile,
  .title-mobile,
  .subtitle-mobile {
    display: none;
  }
}


