.card-main {
 
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 9rem;

}

.cards-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 6rem;

}

.card-container {
  justify-content: center;
  display: flex;
  position: relative;
}

.card {
  display: flex;
  background-color: white;
  flex-direction: column;
  text-align: left;
  padding: 2rem;
  
  border-radius: 8px;
  line-height: 5rem;
}




.card-ul {
  flex-direction: row;
  display: flex;
  list-style: none;


}

@media (min-width: 768px) {


  .card-main {

    flex-direction: column;



  }

  .cards-row {

    flex-direction: row;
    column-gap: 5rem;


   
  }

  .card {

    min-width: 300px;

    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 40%);

  }



}

@media (min-width: 1024px) {}