.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

}
* {
  font-size: 1rem;
  }

.home-background {
  background-color:#f4f3ed 

}

.common-background {
  background-color:#f4f3ed 
 

}
  @media (min-width: 768px)  {
   
  .home-background {
    background: linear-gradient(to right, #f4f3ed 50%, #2b3227 50%);
    background-size: cover;
    min-height: 100vh;

  }
  
  .common-background {
    background: linear-gradient(to right, #2b3227 50%, #f4f3ed 50%);
   
    background-size: cover;
    min-height: 100vh;

  }
  
  
      
    }


