.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

}

*{
  font-size: 1rem;
  }

  
  #root{
   
       /* background: linear-gradient(to right, #f4f3ed 50%, #2b3227 50%);*/
       height:100vh;

  }

  